$section-link-animation: 1000ms 300ms linear infinite;

.section-link {
  position: absolute;
  z-index: 2000;

  &__mouse-box {
    position: relative;
    display: inline-block;

    &:after {
      @include transition(all 300ms ease-out);
      @include transform(translateY(0px) translateY(0px));
    }
  }

  &--about {
    bottom: em(100);
    left: 0;
    right: 0;
    text-align: center;

    .section-link__mouse-box {
      &:hover {
        a {
          @include transform(translateY(-7px));
        }

        &:after {
          @include animation(about-link #{$section-link-animation});
          height: em(45);
        }
      }

      &:after {
        content: '';
        position: absolute;
        width: 2px;
        height: em(35);
        left: 50%;
        top: em(40);
        margin-left: -1px;
        background-color: $indigo;
      }
    }
  }

  &--projects {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: em(100);
    bottom: 0;
    text-align: center;
    
    .section-link__mouse-box {
      &:hover {
        a {
          @include transform(translateX(-7px));
        }

        &:after {
          @include animation(projects-link #{$section-link-animation});
          width: em(45);
        }
      }

      &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: em(35);
        top: 50%;
        left: 100%;
        margin-left: em(6);
        margin-top: 0px;
        background-color: $indigo;
      }  
    }
    
  }

  a {
    @include transition(all 300ms ease-out);
    @include transform(translateY(0px));
    @include ff-bold;
    display: inline-block;
    padding: em(8);
    color: inherit;
    font-size: em(19);
    text-transform: uppercase;
    text-decoration: none;
  }
}

@include keyframes(projects-link) {
  0% {
    @include transform(translateX(0px));
  } 50% {
    @include transform(translateX(7px));
  } 100% {
    @include transform(translateX(0px));
  }
}

@include keyframes(about-link) {
  0% {
    @include transform(translateY(0px));
  } 50% {
    @include transform(translateY(7px));
  } 100% {
    @include transform(translateY(0px));
  }
}
