.button {
  display: inline-block;
  border: 0;
  text-decoration: none;

  &--primary {
    padding: em(15) em(22);
    background: $indigo;
    color: white;
    border-radius: 2px;
    font-size: em(22);
    font-family: 'Avenir';
    font-weight: 100;
    text-transform: uppercase;
  }
}