.about {
  width: 70%;
  padding-top: modular(2);
  margin-right: modular(7);

  &__photo {
    width: 40%;
    margin-top: modular(2) * -1;

    img {
      max-width: 100%;
      border-radius: 50%;
    }
  }

  &__header {
    @include ff-bold;
    font-size: em(34);
    line-height: em(23);
    margin-bottom: em(11);
  }
}
