@import 'base/reset';
@import 'bourbon';
@import 'neat';
@import 'base/base';

@import 'node_modules/fractal/scss/main';

@import 'components/section-link';
@import 'components/header';

@import 'sections/section';
@import 'sections/projects';
@import 'sections/about';
@import 'sections/home';

@import 'node_modules/perfect-scrollbar/src/css/main';

body {
  min-height: 100%;
  overflow: hidden;
  color: #6170F9;
  font-family: 'Akkurat-Mono';
  background: $bg;
}

html {
  min-height: 100%;
}

::-moz-selection { background: $indigo; color: white; }
::selection { background: $indigo; color: white; }

