@font-face {
  font-family: 'Akkurat-Mono';
  src: url('../fonts/Akkurat-Mono.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Akkurat-Mono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Akkurat-Mono.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Akkurat-Mono.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Akkurat-Mono.svg#c8ec35f4572575e3068c7f7fce656efe') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('../fonts/GothamHTF-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GothamHTF-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GothamHTF-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GothamHTF-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GothamHTF-Bold.svg#030251e5701d786046d51ed2261d4a74') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Gotham HTF Medium';
  src: url('../fonts/GothamHTF-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GothamHTF-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GothamHTF-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GothamHTF-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GothamHTF-Medium.svg#05487aa5c1216ca29ce360668b852782') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

